*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NavBar Section */
.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 2rem;
}

.login_input {
    height: 2rem;
    width: 7rem;
    border-radius: 0.5rem;
    text-align: center;
}

.login_button {
    width: 5rem;
    height: 2rem;
    border-radius: 0.5rem;
}

/* Display balance */
.balance {
    display: flex;
    justify-content: space-between;
    padding: 2rem 27rem 2rem 15rem;
}

.account_balance {
    display: flex;
    padding: 2rem 20rem 2rem 8rem;
}

.deposit_withdrawal {
    height: 40rem;
    width: 148rem;
    background-color: aquamarine;
    overflow: scroll;
    border-radius: 1rem;
}

.grid-container{
    display: grid;
}

.grid-item{
    height: 5rem;
    width: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem ;
    margin-bottom: 0.1rem;
}

.date {
    margin-right: 10rem;
}

.amount {
    margin-right: 2rem;
}

.deposit_container{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: -3rem;
    text-align: center;
    background-color: aqua;
    border-radius: 1rem;
}

.withdrawal_container{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    background-color: aqua;
    border-radius: 1rem;
}

.grid-item-1{
    background-color: brown;
}

.transfer_others {
    height: 40rem;
    width: 90rem;
    margin-left: 1rem;
    background-color: aqua;
}

.transfer_container {
    width: 22rem;
    height: 10rem;
    background-color: blueviolet;
    border-radius: 1rem;
}

h3 {
    margin: 2rem 1rem 1rem 1.5rem;
}


/* Transfer Money */
.transfer_details {
    display: flex;
    justify-content: space-evenly;
}

.input_transfer {
    width: 7rem;
    height: 2rem;
    border-radius: 0.3rem;
    text-align: center;
}

.input_button {
    width: 3rem;
    border-radius: 0.3rem;
}

.description {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 7rem auto 2rem;
}

/* Request Loan */
.request_details {
    display: flex;
    justify-content: space-between;
    margin: auto 9rem auto 1.5rem
}

.request_input {
    width: 7rem;
    height: 2rem;
    border-radius: 0.3rem;
    text-align: center;
}

.request_button {
    width: 3rem;
    border-radius: 0.3rem;
}

/* close account */

/* summary */
.summary {
    display: flex;
    margin: auto 43rem 3rem 8rem;
}

.summary_amount {
    margin-right: 2rem;
    margin-left: 0.5rem;
}

.timer {
    margin-left: 1rem;
}